.main {
    margin: auto;
    width: 17%;
    padding: 10px;
    position: relative;
    left: 0%;
   border: #8d7952;
    border-radius: 10px;
    border-style: groove;
    box-sizing: border-box;
    background: rgb(111,109,105);
    background: linear-gradient(294deg, rgba(111,109,105,1) 0%, rgba(98,88,65,1) 0%, rgba(212,186,132,1) 0%, rgba(33,33,33,1) 100%);
top: 80px;

}
.button {
    border-radius: 8px;
    width: 40px;
    border: 2px solid #1c2521;
    transition-duration: 0.4s;
    background-color: #000e03;
    color: #809286;
    height: 30px;
    box-shadow: 2px 2px rgb(70, 68, 68);
}
.button:hover {
    background-color: #567749; /* Green */
    color: black;
}
#abc {
    width: 70px;
}
#xyz {
    width: 70px;
}

body {
    background-image: url("image.jpg");
    background-size: 100% 100%;
    background-size: cover;
    
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

html *
{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 800;

}

#jednako {
    width: 250%;
}

.t {
background-color: rgb(190, 190, 162);
border:#8d7952;
    border-radius: 10px;
    border-style: groove;
    width: 90%;
height: 30px;
text-align: center;
}
